# REST API base URL (e.g. https://api.example.com)
NEXT_PUBLIC_API_URL=

# WebSocket server URL for video call chat & caption (NestJS)
NEXT_PUBLIC_WS_URL=

# Sign Language Translation WebSocket URL (FastAPI AI server)
NEXT_PUBLIC_SLTT_WS_URL=
